* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.front {
    background-image: url("images/wrap1.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    text-align: center;
    border: 1px solid none;
    width: 50%;
    position: absolute;
    padding: 80px 20px 80px 20px;
    left: 20rem;
    top: 12rem;
    line-height: 26px;
    border-radius: 0 30px 0 30px;
    background: transparent;
    box-shadow: 4px 4px 10px 4px #f19321;
}

h1 {
    color: #f19321;
    padding-bottom: 20px;
}

p {
    color: #E7C896;
    font-size: 22px;
}

button {
    padding: 14px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: #E7C896;
    background-color: #f19321;
    transition: all 250ms ease-in-out;
}

button:hover {
    background-color: #E7C896;
    color: #f19321;
    cursor: pointer;
}

.next {
    background-image: url(images/sleep.png);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    text-align: center;
    border: 1px solid none;
    width: 50%;
    position: relative;
    padding: 120px 10px 120px 10px;
    left: 20rem;
    top: 10rem;
    line-height: 26px;
    border-radius: 30px;
    background: transparent;
    box-shadow: 4px 4px 12px 4px black;
}

.cancel {
    color: #f19321;
    font-size: 24px;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#holder {
    padding: 10px;
    border: 1px solid #f19321;
    background-color: transparent;
    color: #f19321;
}

h3 {
    color: #f19321;
}

input {
    color: #f19321;
}

label {
    color: #E7C896;
}

.display {
    display: none;
}

.logins p {
    padding: 15px
}

.submit {
    padding: 14px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: #E7C896;
    background-color: #f19321;
    transition: all 250ms ease-in-out;
}

#output {
    color: #f19321;
}