* {
    margin: 0;
    padding: 0;
}

.front {
    background-image: url("images/feets.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content {
    text-align: center;
    border: 1px solid none;
    width: 50%;
    position: absolute;
    padding: 80px 20px 80px 20px;
    left: 20rem;
    top: 12rem;
    line-height: 26px;
    border-radius: 0 30px 0 30px;
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    color: #f19321;
    padding-bottom: 20px;
}

p {
    color: white;
}

button {
    padding: 14px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #f19321;
}

.next {
    background-image: url(images/feet.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info {
    text-align: center;
    border: 1px solid none;
    width: 50%;
    position: relative;
    padding: 120px 10px 120px 10px;
    left: 20rem;
    top: 12rem;
    line-height: 26px;
    border-radius: 30px;
    background: transparent;
    box-shadow: 4px 4px 12px 4px grey;
}

#holder {
    padding: 10px;
    border: 1px solid #f19321;
    background-color: transparent;
    color: #f19321;
}

h3 {
    color: #f19321;
}

input {
    color: #f19321;
}